<div class="fancy-title text-center" style="margin-bottom: 20px">
  <div class="dotted-border"></div>
  <div class="header aqua-dark">
    <h3><%= fancyTitleContent %></h3>
  </div>
  <div class="dotted-border"></div>
</div>