<a href="price.html"> 
  <div class="col-sm-12 col-md-4 text-center">
    <div class="wedding-package">
      <img class="image" src="assets/snapchat_filter.jpg"/>
      <p class="text text-center"><%= filterImageTitle %></p>
    </div>
  </div>
</a>