<!-- <footer id="awd-site-footer">
  <div class="copyright animated" data-animation="fadeInUp" data-animation-delay="500">
    <p><a href="mailto:snapchatgeof@gmail.com"><i class="fa fa-envelope"></i> Contact Us</a></p>
  </div>
</footer> -->