<!-- START SITE HEADER -->
<div class="row">
    <header id="awd-site-header">
        <div id="awd-site-logo" class="animated" data-animation="fadeInDown" data-animation-delay="500">
            <h1>
                <a href="/" class="go-slide" data-slide="home"><i class="icon-paint"></i><span>SnapWedding</span></a>
            </h1>
        </div>
    </header>
</div>
<!-- END SITE HEADER -->