<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header navbar-brand header-container">
      <div class="row">
        <div class="col-md-16">
          <p class="header">
            <a class="aqua-dark" href="/">Snapchat Wedding Filters</a>
          </p>
        </div>
      </div>
      <div class="row" style="margin-top:22px; margin-left:-2px;">
        <div class="col-md-16 header-subtext">
          <div>Include your friends and family in your perfect day in a new, fun way</div>
        </div>
      </div>
    </div>
  </div>
</nav>