<div id="iphone-container">
    <div class="filter-container">
        <div class="filter-images"></div>
    </div>
    <img id="iphone-image" src="assets/img/black-iphone.png" width="100%" alt="snapchat filter"/>
</div>