<% var websiteTitle= 'Message Sent'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 text-center">
    <div class="user-feedback">
        <h3>Thank you!</h3>
        <p>We have received your message and will get back to you shortly :)</p>
    </div>
</div>

<%- include partials/page-end.ejs %>