<% var websiteTitle= 'Error - Snapchat GeoFilters'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 text-center">
    <div class="user-feedback">
        <h3>Oh No!</h3>
        <p>An error occured when sending the message. Please try again or email us at <a href="mailto:snapchatgeof@gmail.com">snapchatgeof@gmail.com</a> :(</p>
    </div>
</div>

<%- include partials/page-end.ejs %>