<% var websiteTitle= 'Order'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 faq text-left">
    <% var contactFormAction= 'send-message'; %>
    <%- include partials/contact-form.ejs %>
</div>

<%- include partials/page-end.ejs %>