<% var websiteTitle= 'FAQ'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 faq text-left">
    <div class="featured-text">
        <h3>What is a Snapchat filter?</h3>
        <p>Filters are overlays you can add to Snapchat photos and videos. They communicate the where and when of a Snap in a fun way.</p>
    </div>

    <div class="featured-text">
        <h3>How do you design the filter?</h3>
        <p>We take the utmost care to make the filter a perfect reflection of the couple and event. Once you order the filter, a designer will contact you to learn about your preferences - style, color, themes, venue, etc. We will then design a custom filter and send it to you for feedback.</p>
    </div>

    <div class="featured-text">
        <h3>What if I don't like the design?</h3>
        <p>We wil revise our initial design based on your feedback. Two iterations of improvements are included in the cost of the filter.</p>
    </div>

    <div class="featured-text">
        <h3>When do I pay for the filter?</h3>
        <p>Once you are satisfied with the filter we have designed, we will send you a payment link to pay us.</p>
    </div>

    <div class="featured-text">
        <h3>How do I submit the filter to Snapchat?</h3>
        <p>Submitting a filter to Snapchat is a simple and quick process! Simply go to <a href="https://www.snapchat.com/on-demand" target="_blank">Snapchat's On-Demand Geofilters</a> page, upload the image your received from us, and select where and when your event will occur. We can guide you through this process if you face any difficulties.</p>
    </div>

    <div class="featured-text">
        <h3>How do I make the filter available at my event?</h3>
        <p>When submitting your filter to Snapchat, you can select when and where your filter will be available.</p>
    </div>

    <div class="featured-text">
        <h3>How much does it cost to submit a filter to Snapchat?</h3>
        <p>Snapchat determines the cost of a custom filter based on the length of time and the area where you want the filter to be available. It generally costs less than $10 for an event with a single venue.</p>

        <p>You can check the exact cost on the <a href="https://www.snapchat.com/on-demand" target="_blank">Snapchat's On-Demand Geofilters</a> page (skip the upload step!).</p>
    </div>

    <div class="featured-text">
        <h3>Still have questions?</h3>
        <a href="contact.html" class="btn btn-inverse go-slide animated" data-animation="fadeIn" data-animation-delay="60" data-slide="subscribe">Ask us!</a>
    </div>
</div>

<%- include partials/page-end.ejs %>