<% var websiteTitle= 'FAQ'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 faq text-left">
    <div class="featured-text">
        <h3>What is a Snapchat filter?</h3>
        <p>Snapchat filters are digital graphics that are overlaid on top of your Snapchat video or photo. Filters are specific to a geographical boundry over a certain time period.</p>
    </div>

    <div class="featured-text">
        <h3>How will the designing of the filter work?</h3>
        <p>The filter is a reflection of your wedding and the beginning of your lives together. It is important that it is an accurate reflection of the couple. We setup a call to find out what you love doing, your wedding colours, as well as wedding venue information. We then create a filter based on this information. This is the most important part of the process and we go through several iterations to ensure you are happy.</p>
    </div>

    <div class="featured-text">
        <h3>What if I don't like the design?</h3>
        <p>We work with your vision or offer you suggestions if you are unclear. We go through a few iterations to ensure you are satisfied with the final design.</p>
    </div>

    <div class="featured-text">
        <h3>Filter submission to Snapchat</h3>
        <p>For the time being, we will design your filter and then help you submit your design to Snapchat. It's an easy, simple, 5 minute process! We can also submit your filter to Snapchat if you're worried!</p>
    </div>

    <div class="featured-text">
        <h3>You didn't answer my question.</h3>
        <a href="contact.html" class="btn btn-inverse go-slide animated" data-animation="fadeIn" data-animation-delay="60" data-slide="subscribe">Ask us!</a>
    </div>
</div>

<%- include partials/page-end.ejs %>