<% var websiteTitle= 'FAQ - SnapWedding'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 faq text-left">
    <div class="featured-text">
        <h3>Donec lacus nulla, pellentesque at elit at, feugiat faucibus elit?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae tortor eros. Sed sit amet auctor justo, vitae volutpat nibh. Quisque laoreet felis quis tincidunt hendrerit. Nam ultricies, nibh fringilla feugiat pharetra, risus tellus gravida ipsum, vitae malesuada sapien velit vel velit.</p>
    </div>
    <div class="featured-text">
        <h3>Donec lacus nulla, pellentesque at elit at, feugiat faucibus elit?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae tortor eros. Sed sit amet auctor justo, vitae volutpat nibh. Quisque laoreet felis quis tincidunt hendrerit. Nam ultricies, nibh fringilla feugiat pharetra, risus tellus gravida ipsum, vitae malesuada sapien velit vel velit.</p>
    </div>
    <div class="featured-text">
        <h3>Donec lacus nulla, pellentesque at elit at, feugiat faucibus elit?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae tortor eros. Sed sit amet auctor justo, vitae volutpat nibh. Quisque laoreet felis quis tincidunt hendrerit. Nam ultricies, nibh fringilla feugiat pharetra, risus tellus gravida ipsum, vitae malesuada sapien velit vel velit.</p>
    </div>
    <div class="featured-text">
        <h3>Donec lacus nulla, pellentesque at elit at, feugiat faucibus elit?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae tortor eros. Sed sit amet auctor justo, vitae volutpat nibh. Quisque laoreet felis quis tincidunt hendrerit. Nam ultricies, nibh fringilla feugiat pharetra, risus tellus gravida ipsum, vitae malesuada sapien velit vel velit.</p>
    </div>
</div>

<%- include partials/page-end.ejs %>