<% var websiteTitle= 'FAQ'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 faq text-left">
    <div class="featured-text">
        <h3>What is a Snapchat filter?</h3>
        <p>Snapchat filters are digital graphics that are overlaid on your Snapchat video or photo. Filters are applied to a specific geographical range. A Snapchat filter by SnapWedding will only be hosted for a certain period of time at a specified area.</p>
    </div>

    <div class="featured-text">
        <h3>How will the designing of the filter work?</h3>
        <p>The filter is a reflection of your wedding and the beginning of your lives together. It is important that it is an accurate reflection of the couple. We first setup a consultation to determine what is important, what kind of designs they are interested in, and work with them to create a filter that they want to share. This is the most important part of the process and we go through several iterations to ensure you are happy.</p>
    </div>

    <div class="featured-text">
        <h3>What if I don't like the design?</h3>
        <p>We work with your vision or offer you suggestions if you are unclear. We go through a few iterations to ensure you are satisfied with the filter.</p>
    </div>

    <div class="featured-text">
        <h3>Filter submission to Snapchat</h3>
        <p>For the time being, we will design your filter and then help you submit your design to Snapchat. If you are interested in having your filter be submitted by SnapWedding, then please get in touch.</p>
    </div>
    <div class="featured-text">
        <h3>You didn't answer my question.</h3>
        <a href="contact.html" class="btn btn-inverse go-slide animated" data-animation="fadeIn" data-animation-delay="60" data-slide="subscribe">Ask us!</a>
    </div>
</div>

<%- include partials/page-end.ejs %>