<% var websiteTitle= 'Order'; %>
<%- include partials/page-start.ejs %>

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 faq text-left">
    <p>Get your own wedding filter by filling out the form below! One of our designers will contact you to find out what your interests, hobbies, and wedding colours to create personalized filters. They will also send you payment information.</p>

    <% var contactFormAction= 'order-submit'; %>
    <%- include partials/contact-form.ejs %>
</div>

<%- include partials/page-end.ejs %>