$page-content-grey: #FAFAFA;
$light-grey: #F0F0F0;
$dark-grey: #DEDEDE;
$dark-grey-2: #4F4F4F;
$highlight-blue: #BCD2EE;
$aqua: #cceedd;
$aqua-dark: #8cd9b1;

$package1: #23B5AF;
$package2: #EEBA4C;
$package3: #E3493B;

html, body {
	font-family: 'News Cycle', sans-serif;
	colour: $aqua;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none !important;
	}
}

.container {
	height: 100px;
}

.header-container {
	.header {
		position: absolute;
		left: 15px;
		margin-top: 15px;
		font-size: 2.5em;
		font-weight: 700;
		font-family: 'Parisienne', cursive;

		a {
			&:hover {
				text-decoration: none !important;
				color: green;
			}
		}
	}

	.header-subtext {
		position: absolute;
		left: 15px;
		margin-top: 35px;
	}	
}

.page {
	margin-top: 120px;
}

.intro-text {
	margin: 25px;
}

.fancy-title {
	position: relative;

	.dotted-border {
		background: url('assets/dotted.png') repeat-x center; 
		display: inline-block;
		width: 20%;
		height: 20px;
	}
	.header {
		display: inline-block;
		width: 35%;
		height: 20px;
		text-align: center;
		font-style: bold;
		font-family: 'Droid Sans', sans-serif;
	}
}

.wedding-package {
	cursor: hand;

	.image {
		position: relative;
		width: 60%;
	}

	.text {
		padding: 5px;
		text-transform: uppercase;
		font-size: 16px;
		position: absolute;
		top: 45%;
		left: 25%;
		width: 50%;
		color: $aqua-dark;
		background-color:rgba(255, 255, 255, 0.9);;
	}	
}

.package1 {
	border: 1px solid $package1 !important;

	h3 {
		color: white;
	}

	.panel-heading {
		background-color: $package1;
	}

	.panel-footer {
		.btn-buy {
			background-color: $package1;
			text-decoration: none;
			color: white;
		}
	}
}

.package2 {
	border: 1px solid $package2 !important;

	h3 {
		color: white;
	}

	.panel-heading {
		background-color: $package2 !important;
	}

	.panel-footer {
		.btn-buy {
			background-color: $package2 !important;
			text-decoration: none;
			color: white;
		}
	}
}

.package3 {
	border: 1px solid $package3 !important;

	h3 {
		color: white;
	}

	.panel-heading {
		background-color: $package3;
	}

	.panel-footer {
		.btn-buy {
			background-color: $package3;
			text-decoration: none;
			color: white;
		}
	}
}

form {
	margin: 15px 0 0 15px;
}
/************** COLORS ************/
.aqua-dark {
	color: $aqua-dark;
}

.aqua {
	color: $aqua;

	&:hover {
		color: black !important;
	}
}