$page-content-grey: #FAFAFA;
$light-grey: #F0F0F0;
$dark-grey: #DEDEDE;
$dark-grey-2: #4F4F4F;
$highlight-blue: #BCD2EE;
$aqua: #cceedd;
$aqua-dark: #8cd9b1;

html, body {
	font-family: 'News Cycle', sans-serif;
	colour: $aqua;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none !important;
	}
}

.container {
	height: 85px;
}

.header {
	margin: 10px 0 0 10px;
	font-size: 2.2em;
	font-weight: 700;
	font-family: 'Parisienne', cursive;
	
	a {
		&:hover {
			text-decoration: none !important;
			color: green;
		}
	}
}

.page {
	margin-top: 120px;

	.page-header {
		font-size: 1.5em;
		color: $dark-grey-2;
		border: none;
		margin: 0 0 0 25px;
		font-weight: bold;
	}
}

.aqua-dark {
	color: $aqua-dark;

	&:hover {
		text-decoration: none !important;
		color: black;
	}
}

.aqua {
	color: $aqua;

	&:hover {
		color: black !important;
	}
}

.fancy-title {
	.dotted-border {
		background: url('assets/dotted.png') repeat-x center; 
		display: inline-block;
		width: 38%;
		height: 20px;
	}
	.header {
		display: inline-block;
		width: 20%;
		height: 20px;
		text-align: center;
		font-style: bold;
		font-family: 'Droid Sans', sans-serif;
	}
}

.modal-dialog {
	.modal-header {
		font-size: 1.5em;
	}

	.modal-body {
		label {
			text-transform: uppercase;
		}

		input.form-control {
			padding: 22px;
		}
	}

	.modal-footer {
		.modal-positive-button {
			font-size: 0.9em;
		}

		.modal-negative-button {
			font-size: 0.9em;
		}
	}	
}

.hvr-underline-from-center {
	display: block;
	border: 1px;
}