<h2>{{service.serviceName}}</h2>

Tips

<div ng-repeat="tip in tips">
  <p ng-click="createTip(tip)">{{tip.key}}</p>
</div>

<script type="text/ng-template" id="tipModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Set Tip</h3>
    </div>
    <div class="modal-body">
        Key: <input type="text" ng-model="tip.key" /><br/>
        Message: <input type="text" ng-model="tip.msg" /><br/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<button ng-click="createTip()">Set Tip</button>
