<div class="single-service-page">
    <p class="page-header">{{service.serviceName | uppercase}}</p>
    <p class="service-info-text">Select the target market you want to notify or edit your tips</p>

    <div class="broadcast-groups text-center container">
        <div class="row">
            <div class="col-md-4 broadcast-group" ng-click="broadcastMessage()">
              <img class="img-circle" src="../assets/group3.svg" alt="" width="140" height="140">

              <p class="broadcast-heading">Notify Members</p>
            </div>

            <div class="col-md-4 broadcast-group" ng-click="unicastMessage()">
              <img class="img-circle" src="../assets/reminder.svg" alt="" width="140" height="140">

              <p class="broadcast-heading">Reminder</p>
            </div>

            <div class="col-md-4 broadcast-group" ng-click="manageTips()">
              <img class="img-circle" src="../assets/clipboard.svg" alt="" width="100" height="100">

              <p class="broadcast-heading">Self Service</p>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="broadcastModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Notify Members</h3>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="formMsg">Message</label>
                <input type="text" class="form-control" ng-model="broadcastMessage.msg" id="formMsg" >
              </div>

              <div class="form-group">
                <label for="formMsg">Community</label>
                <select class="form-control" ng-model="broadcastMessage.location" ng-options="location.id as location.label for location in locations" required>
                <option value="">All</option>
              </select>
              </div>
              
            </form>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-lg btn-default modal-negative-button" type="button" ng-click="cancel()">DISMISS</button>
            <button class="btn btn-lg btn-success modal-positive-button" type="button" ng-click="ok()">NOTIFY</button>
        </div>
    </script>


    <script type="text/ng-template" id="unicastModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Reminder</h3>
        </div>
        <div class="modal-body">
            <form>

            <div>
                <label for="formGroupMessage">Send to:</label>
                <div class="form-group">
                    <label for="formTime" class="time-label" style="margin-right: 15px;">
                        <input type="radio" ng-model="unicastMessage.receiver" value="0">
                        Group
                    </label>
                </div>
                <div class="form-group">
                    <label for="formTime" class="time-label" style="margin-right: 15px; width: 100%; margin-top: -15px;">
                        <input type="radio" ng-model="unicastMessage.receiver" value="1">
                        Individual
                        <input type="text" class="form-control" ng-model="unicastMessage.phoneNumber" id="formPhoneNumber" placeholder="Enter phone number" ng-disabled="unicastMessage.receiver == 0" style="margin-top: 10px">
                    </label>
                </div>
            </div>

              <div class="form-group">
                <label for="formMessage">Message</label>
                <input type="text" class="form-control" ng-model="unicastMessage.msg" id="formMessage" >
              </div>
              <div class="form-horizontal">
                    <label for="formTime">Send Notification</label>

                    <div class="form-group" style="margin: 5px 0 0 0">
                      <label for="formTime" class="time-label" style="margin-right: 15px;">
                        <input type="radio" ng-model="unicastMessage.time" value="0">
                        Now
                      </label>
                      <label class="time-label" style="margin-right: 15px;">
                        <input type="radio" ng-model="unicastMessage.time" value="1">
                        1 minute
                      </label>
                      <label class="time-label" style="margin-right: 15px;">
                        <input type="radio" ng-model="unicastMessage.time" value="2">
                        2 minutes
                      </label>
                    </div>
              </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-default modal-negative-button" type="button" ng-click="cancel()">DISMISS</button>
            <button class="btn btn-lg btn-success modal-positive-button" type="button" ng-click="ok()">REMIND</button>
        </div>
    </script>
</div>