<div class="single-service-page">
    <p class="page-header">{{service.serviceName}}</p>
    <p class="service-info-text">Step 2: Select the target market you want to notify or edit your tips</p>

    <div class="broadcast-groups text-center container">
        <div class="row">
            <div class="col-md-4 broadcast-group" ng-click="broadcastMessage()">
              <img class="img-circle" src="../assets/group2.png" alt="" width="140" height="140">

              <p class="broadcast-heading">Group</p>
            </div>

            <div class="col-md-4 broadcast-group" ng-click="unicastMessage()">
              <img class="img-circle" src="../assets/single_person.png" alt="" width="140" height="140">

              <p class="broadcast-heading">Individual</p>
            </div>

            <div class="col-md-4 broadcast-group" ng-click="manageTips()">
              <img class="img-circle" src="../assets/manage_tips.png" alt="Generic placeholder image" width="140" height="140">

              <p class="broadcast-heading">Manage Tips</p>
            </div>
        </div>

<!--         <button class="service-button" ng-click="broadcastMessage()">Send message to group</button>
        <button class="service-button" ng-click="unicastMessage()">Send message to individual</button>
        <button class="service-button" ng-click="manageTips()">Manage Tips</button> -->
    </div>
    <script type="text/ng-template" id="broadcastModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Notify Members</h3>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="formMsg">Message</label>
                <input type="text" class="form-control" ng-model="broadcastMessage.msg" id="formMsg" >
              </div>
              <div class="form-group">
                <label for="formTime">Scheduled Time</label>
                <input type="text" class="form-control" ng-model="broadcastMessage.timestamp" id="formTime" >
              </div>
              
            </form>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary btn-lg" type="button" ng-click="ok()">NOTIFY</button>
            <button class="btn btn-warning btn-lg" type="button" ng-click="cancel()">DISMISS</button>
        </div>
    </script>


    <script type="text/ng-template" id="unicastModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Send message to one members</h3>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="formPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" ng-model="unicastMessage.phoneNumber" id="formPhoneNumber" >
              </div>
              <div class="form-group">
                <label for="formMessage">Message</label>
                <input type="text" class="form-control" ng-model="unicastMessage.msg" id="formMessage" >
              </div>
              <div class="form-group">
                <label for="formTime">Scheduled Time</label>
                <input type="text" class="form-control" ng-model="unicastMessage.timestamp" id="formTime" >
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-lg" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning btn-lg" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>